.eventCard {
  margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  min-height: 360px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.event-card-image {
  position: relative;
}

.event-card-image > .image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 12.5%,
    rgba(0, 0, 0, 0.85) 100%
  );
}

.event-card-image > img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.eventCard > h1 {
  position: absolute;
  top: 110px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 44px;
  color: #ffffff;
  margin: 0.8rem;
}

.card-center {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-center > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #0f9d58;
}

.eventCard > p {
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #828282;
}
.register_btn {
  background: #0f9d58;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  width: 270px;
  text-align: center;
  color: #ffffff;
}
.explore_btn {
  background: #0f9d58;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  padding: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  width: 270px;
  text-align: center;
  color: #ffffff;
}
.eventCard a {
  color: white;
  cursor: pointer;
}
.eventCard a:hover {
  text-decoration: none;
  color: white;
}
.card-bottom {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}
.youtube_btn {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-direction: row;
  background-color: #ff0000;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
.youtube_btn_1 {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-direction: row;
  background-color: #3667d6;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
.modal_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;

}
.modal_box_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  border-radius: 10px;
  background-color: white;
  border: none;
  outline: none;
  row-gap: 1rem;
  padding: 1rem;
}
.modal_header_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: black;
}
.modal_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modal_content_poster {
  width: 50%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 1rem;
  position: relative;
  bottom:15px;
}
.modal_content_poster img {
  width: 400px;
  min-height: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: auto;
  border: 2px solid #0f9d58;
}
.modal_content_para {
  width: 50%;
  padding: 1rem;
  line-height: 25px;
  font-size: 16px;
  display: flex;
  row-gap: 2rem;
  text-align: center;
  font-family: "Poppins";
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .modal_box_1 {
    width: 90vw;
    position: absolute;
    overflow-y: scroll;
    height: 85vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  

  }
  .modal_content {
    flex-direction: column;
  }
  .modal_content_poster {
    width: 100%;
  
  }
  .modal_content_para {
    width: 100%;
    
  }
  .modal_content_poster img {
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #0f9d58;
  }
  .modal_buttons{
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    
  }
  
}
