.videos_container {
  padding-top: 5rem;
}
.videos_heading_1 {
  font-size: 2.8rem;
  padding-top: 4%;
  font-weight: 300;
  font-family: "Poppins";
}
.videos_heading {
  font-size: 2.8rem;
  padding-top: 3%;
  font-family: "Poppins";
}
.videos {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5%;
  justify-content: center;
  gap: 40px;
}
.video_iframe_img {
  width: 500px;
  height: auto;
  border: none;
}
.video_iframe {
  width: 700px;
  height: 400px;
  border: none;
}
.video {
  position: relative;
}
.play_icon {
  position: absolute;
  top: 50%;
  color: red;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 550px) {
  .video_iframe {
    width: 300px;
    height: 200px;
    border: none;
  }
  .videos_heading_1 {
    font-size: 2rem;
    padding-top: 3%;
    font-weight: 300;
    font-family: "Poppins";
  }
  .videos {
    padding-bottom: 10%;
  }
}
