@font-face {
  font-family: "Noto sans";
  src: url("../../assets/fonts/NotoSans-Regular.ttf");
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  color: black !important;
  font-weight: 500 !important;
  font-family: "Noto Sans", sans-serif;
}

.logo-nav {
  transition: opacity 0.5s ease;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
}

.discord-container {
  margin-left: 2rem;
  height: 50px;
  width: 50px;
}

.tab-selected {
  color: #4285f4 !important;
}

@media screen and (max-width: 992px) {
  .discord-container {
    margin-left: 0;
  }
}

@media screen and (min-width: 992px) {
  .logo-nav {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 600px) {
  .discord-container {
    margin-left: 0;
  }

  /* .navbar-brand,
  .logo-nav {
    opacity: 0;
    position: relative;
    z-index: -1;
  } */
  .logo-nav {
    height: 2.8rem;
    width: auto;
  }
}
