@font-face {
  font-family: "Noto sans";
  src: url("../../assets/fonts/NotoSans-Regular.ttf");
}

.nav-item {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    color: black !important;
    font-weight: 500 !important;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    border: none;
}

.discord-container {
    margin-left: 2rem;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 992px) {
    .discord-container {
        margin-left: 0;
    }
}
  
@media screen and (max-width: 600px) {
    .discord-container {
        margin-left: 0;
    }
}