.nav-item {
  display: flex;
  align-items: center;
  column-gap: 40px;
  color: black !important;
  font-weight: 500 !important;
  font-family: "Poppins";
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: none;
}

.logo-nav {
  transition: opacity 0.5s ease;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
}

.discord-container {
  height: 60px;
  width: 60px;
}

.tab-selected {
  position: relative;
  color: #4285f4 !important;
}

.tab-selected:after {
  background-color: #4285f4;

  transition: 1s ease-in;
  width: 100%;
  height: 0.17rem;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .nav-item a {
    width: 75%;
    max-width: 600px;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .logo-nav {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 600px) {
  .logo-nav {
    height: 2.8rem;
    width: auto;
  }
}
