.objects {
  position: absolute;
  top: 100px;
  left: 3.7%;
  height: 150px;
  width: auto;
  z-index: -1;
}

.dot-tri {
  position: absolute;
  top: 100px;
  right: 3.7%;
  height: 150px;
  width: auto;
  z-index: -1;
}

.triangles {
  position: absolute;
  bottom: 3%;
  left: 3.7%;
  height: 100px;
  width: auto;
  z-index: -1;
}

.shapes-2 {
  position: absolute;
  bottom: 3%;
  right: 10%;
  height: 100px;
  width: auto;
  z-index: -1;
  transform: rotate(-19.78deg);
}

.contactUs__header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2.8rem;
  font-family: "Poppins";
}

.contactUs__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 60%;
}
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.contactUs__form h1 {
  font-style: normal;
  font-weight: 700;
  color: #0a89d3;
  font-family: "Poppins";
  font-size: 2.25rem;
  line-height: 82px;
}

.contact_form_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.25rem;
}

.contact_form_label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-family: "Poppins";
  color: #333333;
}

.contact_form_input {
  outline: none;
  border: 3px solid #423d3d;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  padding: 1rem;
  font-size: 17px;
  caret-color: #0a89d3;
  font-family: "Poppins";
  font-weight: 500;
}

.textarea {
  height: 150px;
  resize: none;
}

.contact_form_error {
  padding-left: 1.5rem;
  font-weight: 500;
  color: #0a89d3;
  font-family: "Poppins";
  height: 20px;
  font-size: 14px;
}

.contact_form_btn {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  justify-content: center;
  gap: 0.5rem;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.75rem 1rem;
  font-weight: 600;
  font-size: 16px;
  background: #0f9d58;
  color: white;
  transition: ease-in-out 0.1s;
}
.contact_form_btn:hover
{
  background: #0d7543;
}
.contactus_container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .contactus .objects {
    position: relative;
    top: 115px;
    left: -64px;
    height: 150px;
    width: auto;
    z-index: -1;
  }

  .contactus .dot-tri,
  .contactus .triangles,
  .contactus .shapes-2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .contactUs__form {
    width: 90%;
  }
}
