.contactus {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  align-items: center;
  justify-content: center;
  position: relative;
}

.contactus > h1 {
  padding: 3rem;
  font-size: 2.8rem;
  font-family: "Poppins";
}

.contactus > p {
  padding-top: 2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 1.85rem;
  font-family: "Poppins";
  color: #828282;
}

.contactus > .contactusButton {
  position: relative;
  padding: 0.75rem;
  width: 200px;
  font-family: "Poppins";
  font-size: 1.15rem;
}

.contactus .objects {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 150px;
  width: auto;
  z-index: -1;
}

.contactus .dot-tri {
  position: absolute;
  top: 20%;
  right: 7%;
  height: 150px;
  width: auto;
  z-index: -1;
}

.contactus .triangles {
  position: absolute;
  bottom: 0;
  left: 3.7%;
  height: 100px;
  width: auto;
  z-index: -1;
}

.contactus .shapes-2 {
  position: absolute;
  bottom: 3%;
  right: 10%;
  height: 100px;
  width: auto;
  z-index: -1;
  transform: rotate(-19.78deg);
}

@media screen and (max-width: 992px) {
  .contactus > h1 {
    padding: 1rem;
    font-size: 2rem;
  }

  .contactus > p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .contactus > h1 {
    padding: 1rem;
  }

  .contactus > p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .contactus .contactusButton {
    padding: 0.375rem 0.75rem;
    height: auto;
    width: 200px;
  }

  .contactus .objects {
    position: relative;
    top: 115px;
    left: -64px;
    height: 150px;
    width: auto;
    z-index: -1;
  }

  .contactus .dot-tri,
  .contactus .triangles,
  .contactus .shapes-2 {
    display: none;
  }
}
