.ourteam {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem); /* 85vh */
  align-items: center;
  justify-content: center;
  position: relative;
}

.ourteam > h1 {
  padding: 3rem;
  font-size: 2.8rem;
  font-family: "Poppins";
}

.ourteam > p {
  padding-top: 2rem;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 1.85rem;
  font-family: "Poppins";
  color: #828282;
}

.ourteam > .ourteamButton {
  position: relative;
  padding-top: 2rem;
  padding: 0.75rem;
  width: 200px;
  font-family: "Poppins";
  font-size: 1.15rem;
}

.ourteam .circles {
  position: relative;
  top: 15%;
  left: 3%;
  height: 125px;
  width: auto;
  z-index: -1;
}

.ourteam .frames {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 100px;
  width: auto;
  z-index: -1;
}

.ourteam .frames-1 {
  position: absolute;
  top: 20%;
  right: 15%;
  height: 100px;
  width: auto;
  z-index: -1;
}

.ourteam .shapes-1 {
  position: absolute;
  bottom: 3%;
  right: 10%;
  height: 100px;
  width: auto;
  z-index: -1;
}

.ourteam .shapes-2 {
  position: absolute;
  bottom: 0;
  left: 15%;
  height: 100px;
  width: auto;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .ourteam > h1 {
    padding: 1rem;
    font-size: 2rem;
  }

  .ourteam > p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .ourteam > h1 {
    padding: 1rem;
  }

  .ourteam > p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .ourteam .ourteamButton {
    padding: 0.375rem 0.75rem;
    height: auto;
    width: 200px;
  }

  .ourteam .circles {
    top: 95px;
    left: -20px;
    height: initial;
    width: auto;
  }

  .ourteam .frames,
  .ourteam .frames-1,
  .ourteam .shapes-1,
  .ourteam .shapes-2 {
    display: none;
  }
}
